<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
        <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Debug" Guid="{CF10EBC8-63F3-4692-95E4-7A14968D9268}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_DotNetARX_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Debug" Guid="{BDA0E6EC-8D12-481B-9FC3-B2E1A36114F0}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Debug" Guid="{9679BE8A-36D9-4312-9523-D3B7F20FB4FA}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThCADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Debug" Guid="{CE97D189-798B-4D57-A4EB-0F5768D4AF56}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Debug" Guid="{539F834A-E897-4AC9-8D9E-3E79B4472DE8}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Debug" Guid="{29C96762-01D9-4F6D-981B-60DBD8768089}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Debug" Guid="{62B30DA5-07C5-4D79-BBA3-969F5FD9ABD2}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIO_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
        <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Debug" Guid="{ADBAD562-24F5-48A5-8845-1C22171C8667}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_DotNetARX_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Debug" Guid="{C9467DAE-67F3-4F91-B85F-8866FBD16C27}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Debug" Guid="{2CDA9EF3-2BCC-45AF-B7A4-8A977625C0E6}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThCADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Debug" Guid="{888FD7B5-39E7-4F76-838E-2407757F32BF}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Debug" Guid="{2DBA7E04-8AC1-4111-ACF9-3A921A64E2F1}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Debug" Guid="{AE7A1686-CADB-47ED-9353-99E9611DA593}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Debug" Guid="{CA4EDB00-DB27-4054-A6F9-798E20401A59}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIO_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
        <?define OutputPath_R20_Release="bin\Release-NET45" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Release" Guid="{B842540F-6B68-4237-A6DF-3CFE05509CC9}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_DotNetARX_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Release" Guid="{3146B0B2-0826-4874-9F09-4D1245553AB5}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Release" Guid="{0C203C7F-CA05-4DE1-B14D-08D085F6C801}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThCADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Release" Guid="{72D5D07A-C2D3-4EFD-8219-7818E0880C48}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Release" Guid="{2D987A25-681E-45A2-B122-856E448D0F7F}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Release" Guid="{191BF30C-4AEC-4D28-93BF-4D0AA1DA9416}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Release" Guid="{A241445D-F5E1-494A-95D3-712DF7C11E96}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIO_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
        <?define OutputPath_R22_Release="bin\Release-NET46" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Release" Guid="{5E1E1A82-83C1-40C1-87B5-C4AF3B51B5F5}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_DotNetARX_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Release" Guid="{9504CA46-7584-4F6F-A65D-32D1CEE4C85F}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Release" Guid="{399366C5-E027-403B-9207-50DEB8B3DB11}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThCADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Release" Guid="{8F644A0B-0D91-4FDA-A1CB-B3D1B821E203}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Release" Guid="{CB855DFB-4928-4F75-8C25-53C7E361640A}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Release" Guid="{BEE6447B-E40B-44D3-AF54-D6D98D3D5128}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Release" Guid="{F13C61EF-2F19-4903-9477-2E18411A5C96}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIO_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsAppCoreWin64">
      <?if $(var.Configuration) = Debug ?>
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Debug" />
        <?elseif $(var.Configuration) = Release ?>
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Release" />
        <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>
