<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging" Guid="{0D5E6060-3A48-4F85-85AE-2AD3EF213155}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging_Abstractions" Guid="{EF793264-2D6E-4AE5-802B-2FBD37BDE1D9}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging_Abstractions" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Options" Guid="{E8424089-6EB4-47D1-A20E-9EC772E3AE65}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Options" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" Guid="{6226D5E8-1EDF-430B-A7BC-99BFCEF0B713}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Microsoft.IO.RecyclableMemoryStream.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Bcl_HashCode" Guid="{4A1AF286-DA67-402A-80B1-17112AA093C4}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Bcl_HashCode" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Microsoft.Bcl.HashCode.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging" Guid="{1DE2EAEB-1521-412B-9EAF-6665F1651ED8}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging_Abstractions" Guid="{079431F1-D858-408D-BFF2-400E9FB80DE2}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging_Abstractions" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Options" Guid="{EC642461-401C-4EC0-BF91-8A334FF37A9D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Options" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" Guid="{D8B43FB3-AAB3-46FC-93AB-98C0C067FD60}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Microsoft.IO.RecyclableMemoryStream.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Bcl_HashCode" Guid="{A29DCE53-08B9-4B2E-B311-B849A7EABCC8}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_Bcl_HashCode" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Microsoft.Bcl.HashCode.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsAppMicrosoft">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging_Abstractions" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Options" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Bcl_HashCode" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Logging_Abstractions" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Extensions_Options" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_Bcl_HashCode" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>
