<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Buffers" Guid="{B3E3F87D-050D-4F34-B87A-0C491C9BC7E2}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Buffers" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Buffers.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Memory" Guid="{8B0A4303-48B7-4130-95FF-5BCCF78DB306}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Memory" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Memory.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Runtime_Compiler_Services" Guid="{B043D5F5-1BCB-49D5-BA37-75646CDEA441}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Runtime_Compiler_Services" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Collections_Immutable" Guid="{25B28A0A-A0B5-4CCE-92C8-B3EEF6DF58E5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Collections_Immutable" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Collections.Immutable.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Buffers" Guid="{DDD5ABF5-D37B-469D-9D0C-83B47BA124F4}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Buffers" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Buffers.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Memory" Guid="{C0BED5FE-C945-4BF8-BB98-B531895D6EF5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Memory" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Memory.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Runtime_Compiler_Services" Guid="{E88B44B6-CF2C-435B-86E7-9CB38ACF49FC}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Runtime_Compiler_Services" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Collections_Immutable" Guid="{98B1B98B-5C29-4D17-BC38-A17B4C78E867}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Collections_Immutable" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Collections.Immutable.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsAppSystem">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Memory" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Buffers" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Collections_Immutable" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Runtime_Compiler_Services" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Memory" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Buffers" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Collections_Immutable" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Runtime_Compiler_Services" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>
