<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
        <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Debug" Guid="{5C985F88-0E14-4928-842D-99EC072F6BDE}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_DotNetARX_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Debug" Guid="{06730A08-4F8A-49EF-9044-80FBBF391612}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Debug" Guid="{8B597B41-04B1-4B9E-9961-8D6E33F8729B}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThCADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Debug" Guid="{AF3B84EF-6757-4492-9C4B-4CCF8077E082}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Debug" Guid="{ED4943CF-313F-4F22-9830-DEA0D05BBB19}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPCui_Debug" Guid="{bcc5267a-2349-42b3-bf67-17f093fb8f91}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPCui_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPCui.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPAnalytics_Debug" Guid="{57FF156A-14C7-440F-8EEA-CA2047CAA341}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPAnalytics_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPAnalytics.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIdentity_Debug" Guid="{AD69BB3C-DC52-4DD7-B1B1-AC011ECD48DB}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIdentity_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPIdentity.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPUi_Debug" Guid="{212C3F0B-55F9-40DD-BA85-B0C3172A0D48}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPUi_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Mep.UI.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Debug" Guid="{03EBBCA7-0EF5-410B-AB73-8F199BCF8472}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIFC_Debug" Guid="{924B281B-9CC9-4682-B3B6-5F11BBF46DF6}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIFC_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPIFC.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Debug" Guid="{7372839E-4AB3-4E21-B400-7268F95CE2B5}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIO_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
        <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Debug" Guid="{2FF6A7C9-CB92-48C2-A3C8-5E8B3061F3FD}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_DotNetARX_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Debug" Guid="{41044FA7-40FA-4EA4-93E4-A4E64D02BCDB}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Debug" Guid="{50BA64F9-7CD6-4804-9F3D-96854979A622}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThCADExtension_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Debug" Guid="{664DC39E-301E-4764-A973-1B0E20538086}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Debug" Guid="{39047948-C27E-4F19-AB27-77185FCC8708}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPCui_Debug" Guid="{80C708F7-FD76-4D73-BEFA-294D7D29889F}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPCui_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPCui.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPAnalytics_Debug" Guid="{FF3B9DFA-0E2B-49A3-AF0C-3DFA41BBBA2B}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPAnalytics_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPAnalytics.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIdentity_Debug" Guid="{9466B697-F749-4281-841F-A4A6BAEBBEFA}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIdentity_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPIdentity.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPUi_Debug" Guid="{948D3C08-FD21-47FE-ACFE-1CC5592D9372}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPUi_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Mep.UI.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Debug" Guid="{EC04EB90-E9B2-42D3-A1E8-AC0BDE515FE3}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIFC_Debug" Guid="{3EC92A00-D781-4579-846A-13365FCA4736}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIFC_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPIFC.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Debug" Guid="{8C8328CA-C54B-468D-BB18-524C0EEFDE2C}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIO_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
        <?define OutputPath_R20_Release="bin\Release-NET45" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Release" Guid="{8C8E9A40-6823-4C76-802F-CDD0136A1123}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_DotNetARX_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Release" Guid="{BB230E56-C891-4B9B-A233-ED22316E4CEE}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Release" Guid="{C3947B93-1A9C-4043-917C-72F617557D2D}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThCADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Release" Guid="{993A3748-0D9F-42B8-AFAB-9910F0ED4FC7}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_CADCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Release" Guid="{8228CDCE-782D-43F3-97E3-8B165B382E5E}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPCui_Release" Guid="{d4e4af73-e8d7-46ab-b183-097de572b975}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPCui_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPCui.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPAnalytics_Release" Guid="{A446F35F-C2F2-4131-A4AC-53C728298ABD}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPAnalytics_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPAnalytics.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIdentity_Release" Guid="{4F150AF3-433A-478F-AD8D-7A334D4F3F6F}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIdentity_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPIdentity.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPUi_Release" Guid="{CB593DFE-F6F7-4CA5-8259-6374E54DFBC1}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPUi_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Mep.UI.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Release" Guid="{27A51F9A-5667-4A6C-AB32-8AD5509019C2}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIFC_Release" Guid="{299A2DDC-DCE6-4461-AF15-1083E859FB58}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIFC_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPIFC.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Release" Guid="{567C7157-BD13-4E9B-B82B-A53548EA1F74}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_ThMEPIO_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
        <?define OutputPath_R22_Release="bin\Release-NET46" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Release" Guid="{3DCDEC67-9FC5-4811-96F3-D5D2BB627F67}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_DotNetARX_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThDotNetARX.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Release" Guid="{EE43D41A-8582-4D92-A5B3-F7AA64C90DA0}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\CADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Release" Guid="{14CECA1A-CE05-45E7-B6F3-AE31475E332D}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThCADExtension_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThCADExtension.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Release" Guid="{B5EB690B-D3EF-4E7F-BBF9-A6B3B583F50A}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_CADCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThCADCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Release" Guid="{DBAEF337-B4D1-4FC8-B732-92924F2BB095}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPEngineCore.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPCui_Release" Guid="{99700CC9-C291-431D-9D5B-FA9EEAAD40F8}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPCui_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPCui.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPAnalytics_Release" Guid="{4A170B47-F478-488D-AE33-1E096959281B}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPAnalytics_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPAnalytics.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIdentity_Release" Guid="{1EE334D5-429E-4090-A4DC-17103AA44C12}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIdentity_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPIdentity.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPUi_Release" Guid="{4472E4A8-4D1A-447E-BC99-4063BE33E27A}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPUi_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Mep.UI.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Release" Guid="{F2EDE2BE-22FB-48D7-A687-11FC623B39E8}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPTCH.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIFC_Release" Guid="{1456AD50-B66A-41AA-A0EA-74EE433BF3CA}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIFC_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPIFC.dll" />
        </Component>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Release" Guid="{DBBC2B00-9CEA-4907-996E-BCC69E0B1DF5}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_ThMEPIO_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPIO.dll" />
        </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsAppCoreWin64">
      <?if $(var.Configuration) = Debug ?>
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPCui_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPAnalytics_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPCui_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPAnalytics_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIdentity_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIdentity_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPUi_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPUi_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIFC_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIFC_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Debug" />
        <?elseif $(var.Configuration) = Release ?>
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_DotNetARX_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThCADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CADCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPEngineCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPCui_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPAnalytics_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_DotNetARX_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThCADExtension_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CADCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPEngineCore_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPCui_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPAnalytics_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIdentity_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIdentity_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPUi_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPUi_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPTCH_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPTCH_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIFC_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIFC_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ThMEPIO_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ThMEPIO_Release" />
        <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>
