<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
            <?define OutputPath_R19_Debug="bin\Debug-NET40" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_CMD_Debug" Guid="{9DF63B85-1093-4804-9D1B-3619B0620D4A}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R19_MEPArchitecture_CMD_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Debug)\ThMEPArchitecture.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_UI_Debug" Guid="{62DB1560-F7B3-4D74-BBCF-0CD5E8470BD7}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R19_MEPArchitecture_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Debug)\TianHua.Architecture.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_CMD_Debug" Guid="{1D602632-7F6C-4FBD-822E-B91738DF455C}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPArchitecture_CMD_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPArchitecture.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_UI_Debug" Guid="{5C31FF73-3EC9-4A6E-8D43-8FE33A1DC9AB}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPArchitecture_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Architecture.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
            <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_CMD_Debug" Guid="{525A896A-DFD9-4F17-B465-E8D39C555EA0}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPArchitecture_CMD_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPArchitecture.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_UI_Debug" Guid="{A01A0C7B-904B-46AA-89B8-D71CE4A335DF}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPArchitecture_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Architecture.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
            <?define OutputPath_R19_Release="bin\Release-NET40" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_CMD_Release" Guid="{33CE6757-4E72-4CC3-860A-15F802491FB3}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R19_MEPArchitecture_CMD_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Release)\ThMEPArchitecture.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_UI_Release" Guid="{2066E590-0F6D-4163-9E1B-94FB3BEECC03}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R19_MEPArchitecture_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Release)\TianHua.Architecture.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_CMD_Release" Guid="{670575AB-D99A-49D6-A8A2-C50AB748C243}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPArchitecture_CMD_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPArchitecture.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_UI_Release" Guid="{94962EF0-422A-48B9-96DE-BBC7CF986724}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPArchitecture_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Architecture.WPF.UI.dll" />
            </Component>   
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
            <?define OutputPath_R22_Release="bin\Release-NET46" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_CMD_Release" Guid="{70165D36-9219-46D7-8282-F9E64BAD43E8}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPArchitecture_CMD_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPArchitecture.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_UI_Release" Guid="{BF983A29-651C-49CC-93C8-0E6E1AA5B06F}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPArchitecture_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Architecture.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsArchitectureWin64">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_CMD_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_CMD_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_CMD_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_UI_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_UI_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_UI_Debug" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_CMD_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_CMD_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_CMD_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_MEPArchitecture_UI_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPArchitecture_UI_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPArchitecture_UI_Release" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>