<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18">
        <?define OutputPath_R18_Debug="bin\Debug" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R18_NTS_Debug" Guid="{ADC356B3-F7A5-4429-A457-3013DB17BD22}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R18_NTS_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Debug)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
        <?define OutputPath_R19_Debug="bin\Debug-NET40" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R19_NTS_Debug" Guid="{96A0549E-DEB1-43AA-B852-44475ADC8E74}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R19_NTS_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Debug)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
        <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_NTS_Debug" Guid="{032A4C04-801A-4BE4-B320-1F69B54CF725}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_NTS_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
        <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_NTS_Debug" Guid="{7512B50D-5B5E-410D-A455-878DAC901823}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_NTS_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18">
        <?define OutputPath_R18_Release="bin\Release" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R18_NTS_Release" Guid="{2FC9718A-2D33-47D4-B0E9-396966B74D60}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R18_NTS_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
        <?define OutputPath_R19_Release="bin\Release-NET40" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R19_NTS_Release" Guid="{EC1C4E50-FB56-41DD-8B1D-3272B0901BAD}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R19_NTS_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Release)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
        <?define OutputPath_R20_Release="bin\Release-NET45" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R20_NTS_Release" Guid="{96FB0AAE-8BE9-4336-B3BD-6C77A15DF5DA}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R20_NTS_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
        <?define OutputPath_R22_Release="bin\Release-NET46" ?>
        <Component Id="CMP_Autoloader_Contents_App_Win64_R22_NTS_Release" Guid="{E8F86512-91E7-4586-945A-F28D513F50F9}" Win64="yes">
            <File Id="FILE_Autoloader_Contents_App_Win64_R22_NTS_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\NetTopologySuite.dll" />
        </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsAppExternal">
      <?if $(var.Configuration) = Debug ?>
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_NTS_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_NTS_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_NTS_Debug" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_NTS_Debug" />
      <?elseif $(var.Configuration) = Release ?>
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_NTS_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_NTS_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_NTS_Release" />
        <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_NTS_Release" />
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>
