<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_YamlDotNet" Guid="{96E812A6-8965-4A38-AC5C-43F43163EDEA}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_YamlDotNet" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\YamlDotNet.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NTS" Guid="{032A4C04-801A-4BE4-B320-1F69B54CF725}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NTS" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NetTopologySuite.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_Features" Guid="{D4F0F740-081B-457E-9781-59E58AA77659}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NTS_Features" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NetTopologySuite.Features.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_IO_GEOJSON" Guid="{DA6175FA-0859-4CAE-9E84-8C2F825552BE}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NTS_IO_GEOJSON" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NetTopologySuite.IO.GeoJSON.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NewtonsoftJson" Guid="{AE197DD3-8B72-481A-B851-27648456487C}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NewtonsoftJson" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader" Guid="{8F8EFA82-4943-4EB1-A81E-971C58746D5E}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_ExcelDataReader" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ExcelDataReader.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader_DataSet" Guid="{2DEB133C-7965-46D3-9488-78D31B4EF2A8}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_ExcelDataReader_DataSet" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ExcelDataReader.DataSet.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Catel_Core" Guid="{16974276-52A7-48F4-B347-70C368EFF767}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Catel_Core" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Catel.Core.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_EPPlus" Guid="{41A86DB9-B06A-4630-AFB7-D1B34C559E49}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_EPPlus" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\EPPlus.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" Guid="{392835FF-B2DC-4C48-BA06-A763913EF877}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Microsoft.IO.RecyclableMemoryStream.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph" Guid="{B8D1B2EC-C8E0-4E69-B9D6-B1523BC2EABE}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_QuikGraph" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\QuikGraph.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph_Serialization" Guid="{4A96A3A8-0D9F-43BF-9F88-5AF677518DB5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_QuikGraph_Serialization" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\QuikGraph.Serialization.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_RestSharp" Guid="{C12A5181-7DB1-4A08-A67F-311B8FD0DC31}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_RestSharp" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\RestSharp.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI" Guid="{F8633677-0200-4755-BCE7-B0455DB125D8}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NPOI.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OOXML" Guid="{661989BE-AC64-4D99-9F3B-4AFB213F7C56}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_OOXML" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NPOI.OOXML.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXml4Net" Guid="{C335BDE0-E536-4ED0-9AD4-AC2A6AB714B6}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_OpenXml4Net" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NPOI.OpenXml4Net.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXmlFormats" Guid="{F6AE14B1-462B-4E17-B751-542219493E14}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_OpenXmlFormats" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\NPOI.OpenXmlFormats.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_SharpZipLib" Guid="{BBDC50BC-ED83-4DA8-9C47-D24EE5BC51E5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_SharpZipLib" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_BouncyCastle" Guid="{886752A4-FBA2-4A6D-8CEE-7C62C165A4BF}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_BouncyCastle" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog" Guid="{497D62C7-69AE-4486-A772-2576159ACE55}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Serilog" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Serilog.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog_Sinks_File" Guid="{8C49D56E-8AFE-459A-B9CD-87283E4A5779}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Serilog_Sinks_File" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord" Guid="{6BC113E2-B7BB-461C-A8CB-6AC4411EEF61}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Accord.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Config" Guid="{18E07C9B-AD10-4DD5-B4CC-6AAEB5DBF949}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord_Config" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Accord.dll.config" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math" Guid="{EF3DC825-0ED0-483D-B314-6113F688165B}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord_Math" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Accord.Math.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math_Core" Guid="{0A29F3C9-B5AE-4D98-9A44-45E428CABC17}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord_Math_Core" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Accord.Math.Core.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_HandyControl" Guid="{05131D9E-3EDD-48C5-9D37-6D63DF4B74BC}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_HandyControl" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\HandyControl.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_MathNet_Numerics" Guid="{9CD21CF6-E7A0-42FB-9294-B588B8A0E0E4}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_MathNet_Numerics" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\MathNet.Numerics.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Svg" Guid="{E409CF40-A540-414C-A718-372E10567D15}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Svg" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Svg.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Fizzler" Guid="{899F2D51-A9BE-4E58-8919-8054BF47A418}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Fizzler" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Fizzler.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Gong_Wpf_Dragdrop" Guid="{6453C428-8530-4521-A0DD-E653724C4F96}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Gong_Wpf_Dragdrop" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\GongSolutions.WPF.DragDrop.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite" Guid="{1EE98B84-5015-4F36-A3B4-4FD409F139BC}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Data_SQLite" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_EF6" Guid="{B45E0260-1DA8-4C8C-B5E2-13C330707A48}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_EF6" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Data.SQLite.EF6.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_Linq" Guid="{5DC7EC21-DD58-4899-969A-B42529A147FB}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_Linq" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\System.Data.SQLite.Linq.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net" Guid="{DF7A4E9F-97C1-4E94-927C-B0AC404C4FD0}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Protobuf_Net" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\protobuf-net.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net_Core" Guid="{EA6066CF-12F3-4586-B7BB-25C0C03959CC}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Protobuf_Net_Core" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\protobuf-net.Core.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common_X64">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Runtimes_X64_SQLite_Interop" Guid="{9937DC59-2025-4C93-95D7-27F0F574B29C}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Runtimes_X64_SQLite_Interop" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\x64\SQLite.Interop.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_YamlDotNet" Guid="{4EBDB786-B7C7-4619-BC68-EA67A1D4DF9F}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_YamlDotNet" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\YamlDotNet.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NTS" Guid="{96FB0AAE-8BE9-4336-B3BD-6C77A15DF5DA}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NTS" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NetTopologySuite.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_Features" Guid="{3C6471B5-E0B9-4EB3-93B8-344597F3ED5A}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NTS_Features" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NetTopologySuite.Features.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_IO_GEOJSON" Guid="{4979709C-F7D6-4D3D-AA32-A306A5AA308C}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NTS_IO_GEOJSON" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NetTopologySuite.IO.GeoJSON.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NewtonsoftJson" Guid="{4EA2444C-DEC2-4E77-B611-CB295B7C3BE3}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NewtonsoftJson" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader" Guid="{F1CD1E49-1312-4EF0-8FB1-1004765E42F9}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_ExcelDataReader" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ExcelDataReader.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader_DataSet" Guid="{EEFC6684-D4AC-4A51-A887-1907F8AFC594}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_ExcelDataReader_DataSet" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ExcelDataReader.DataSet.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Catel_Core" Guid="{F9899FF7-8F25-4BC5-A669-946BF9EF7447}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Catel_Core" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Catel.Core.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_EPPlus" Guid="{1A953CCD-9883-4B72-81BA-D5D8A4FB7EBD}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_EPPlus" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\EPPlus.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" Guid="{DE829FA1-EBF6-45F4-8E8B-642790C61357}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Microsoft.IO.RecyclableMemoryStream.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph" Guid="{0733FE9D-B92A-45D6-A3FD-710695F1A03F}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_QuikGraph" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\QuikGraph.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph_Serialization" Guid="{E4741BA4-012B-45A0-8302-7DA809BD6C2A}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_QuikGraph_Serialization" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\QuikGraph.Serialization.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_RestSharp" Guid="{2C960364-40B3-4D5F-AA33-4CFF750B40B2}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_RestSharp" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\RestSharp.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI" Guid="{34BE1452-6875-433A-A976-787958351993}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NPOI.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OOXML" Guid="{74C1243D-B96D-485A-8AF9-AAE460481959}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_OOXML" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NPOI.OOXML.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXml4Net" Guid="{96EDEEAD-2462-4946-ADB8-5B6472CB883E}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_OpenXml4Net" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NPOI.OpenXml4Net.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXmlFormats" Guid="{30D6430E-5959-4D1F-9025-7D512EAF7304}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_OpenXmlFormats" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\NPOI.OpenXmlFormats.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_SharpZipLib" Guid="{1974C84C-6688-4EE0-A88C-FD6BCBD7748D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_SharpZipLib" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_BouncyCastle" Guid="{48EE0A36-23C6-4A9C-91DE-C106909704E5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_NPOI_BouncyCastle" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog" Guid="{532700D6-351D-4203-9C9B-357F5C3A101E}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Serilog" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Serilog.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog_Sinks_File" Guid="{81FAF773-7276-4ADC-ADB4-DC635FDDC787}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Serilog_Sinks_File" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord" Guid="{0675EB68-9BFC-4391-BA60-1CEB1F085FC2}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Accord.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Config" Guid="{3E0C56B3-1BF0-4A80-910B-2D956C5982D3}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord_Config" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Accord.dll.config" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math" Guid="{E7616309-B469-415C-8190-6904FAE227F5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord_Math" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Accord.Math.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math_Core" Guid="{83CE396F-A711-407C-82D4-58FF65EE1210}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Accord_Math_Core" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Accord.Math.Core.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_HandyControl" Guid="{9233DE08-3862-4DB2-84F5-ECE66D0FA50B}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_HandyControl" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\HandyControl.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_MathNet_Numerics" Guid="{C88993A3-9096-44D2-B775-1715ABE2224F}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_MathNet_Numerics" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\MathNet.Numerics.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Svg" Guid="{F4DFF5CB-B397-4862-995A-04A3CCAF844F}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Svg" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Svg.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Fizzler" Guid="{1E141B60-A877-47B6-86F5-8E18572D72C4}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Fizzler" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Fizzler.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Gong_Wpf_Dragdrop" Guid="{5AEF4260-4903-4CAC-A3CE-D3A59DF2A0BB}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Gong_Wpf_Dragdrop" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\GongSolutions.WPF.DragDrop.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite" Guid="{8946F50A-6E3D-400A-8173-7ACA9A383EB5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Data_SQLite" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_EF6" Guid="{C72E5BCA-6565-4F91-B9C5-58DF5C44A9C9}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_EF6" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Data.SQLite.EF6.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_Linq" Guid="{36EEE9C1-0957-4A45-B1DE-91801D6251D9}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_Linq" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\System.Data.SQLite.Linq.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net" Guid="{13D6B3B7-99B7-4A2A-B608-7BE15850DC44}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Protobuf_Net" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\protobuf-net.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net_Core" Guid="{FDF384BB-758A-4942-B626-F7859371F3AF}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Protobuf_Net_Core" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\protobuf-net.Core.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common_X64">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Runtimes_X64_SQLite_Interop" Guid="{D0D629E5-69E8-4E5C-B1E6-25B03206099D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Runtimes_X64_SQLite_Interop" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\x64\SQLite.Interop.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsAppExternal">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NTS" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_Features" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_IO_GEOJSON" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NewtonsoftJson" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader_DataSet" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Catel_Core" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_EPPlus" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_RestSharp" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OOXML" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXml4Net" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXmlFormats" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_SharpZipLib" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_BouncyCastle" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_YamlDotNet" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog_Sinks_File" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Config" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math_Core" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Runtimes_X64_SQLite_Interop" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_HandyControl" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_MathNet_Numerics" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Svg" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Fizzler" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph_Serialization" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Gong_Wpf_Dragdrop" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_EF6" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_Linq" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net_Core" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NTS" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_Features" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NTS_IO_GEOJSON" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NewtonsoftJson" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_ExcelDataReader_DataSet" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Catel_Core" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_EPPlus" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_RestSharp" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Microsoft_IO_RecyclableMemoryStream" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OOXML" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXml4Net" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_OpenXmlFormats" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_SharpZipLib" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_NPOI_BouncyCastle" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_YamlDotNet" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Serilog_Sinks_File" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Config" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Accord_Math_Core" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Runtimes_X64_SQLite_Interop" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_HandyControl" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_MathNet_Numerics" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Svg" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Fizzler" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_QuikGraph_Serialization" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Gong_Wpf_Dragdrop" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_EF6" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_System_Data_SQLite_Linq" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Protobuf_Net_Core" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>
