<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variable.wxi ?>
	<Fragment>
		<?if $(var.Configuration) = Debug ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18">
			<?define OutputPath_R18_Debug="bin\Debug" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_Debug" Guid="{24DD363B-9FC8-43F1-99B0-3F97600A4D96}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R18_FanSelection_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Debug)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_UI_Debug" Guid="{3C195CDE-7BBD-41F9-A335-0EBB407A004C}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R18_FanSelection_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Debug)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
			<?define OutputPath_R19_Debug="bin\Debug-NET40" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_Debug" Guid="{53725BA4-259A-46DB-8792-0C0349DB7E1E}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R19_FanSelection_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Debug)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_UI_Debug" Guid="{7F8A33CB-C1CB-4E0D-8B01-70B1CD314729}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R19_FanSelection_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Debug)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Debug" Guid="{5000CFC9-1F88-466A-84BF-808658CB9650}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Debug" Guid="{CB5AB24C-7E59-45C2-961F-9ABABBA2D689}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Debug" Guid="{CEAEAE92-73AA-4AD5-817B-DAE1E2F66B82}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Debug" Guid="{9AC78E1F-FADD-4A18-BBCD-327A3DBDA1DF}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<?elseif $(var.Configuration) = Release ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18">
			<?define OutputPath_R18_Release="bin\Release" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_Release" Guid="{6A0A072F-6428-4DD4-B3AE-5882ABB6E50B}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R18_FanSelection_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_UI_Release" Guid="{BCCA520C-CF7E-43AC-A828-8D54803A069F}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R18_FanSelection_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
			<?define OutputPath_R19_Release="bin\Release-NET40" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_Release" Guid="{92D748AC-4AF4-448D-9E20-68FBF304473A}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R19_FanSelection_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Release)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_UI_Release" Guid="{00888602-7C11-4060-9355-9B3944633ECC}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R19_FanSelection_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Release)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Release="bin\Release-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Release" Guid="{6764098C-C7C5-48DE-A805-82E2F709FD1B}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Release" Guid="{F667414E-12DE-4BC1-9F71-F23339EB133D}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Release="bin\Release-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Release" Guid="{DBA58AB6-9C55-4312-9AFC-EEFFC54C5424}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Release" Guid="{3A443B3F-5DFA-4EF9-83B4-385E1CBB9888}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<?endif?>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponentsFanSelectionWin64">
			<?if $(var.Configuration) = Debug ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_UI_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_UI_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Debug" />
			<?elseif $(var.Configuration) = Release ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_FanSelection_UI_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_FanSelection_UI_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Release" />
			<?endif?>
		</ComponentGroup>
	</Fragment>
</Wix>
