<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variable.wxi ?>
	<Fragment>
		<?if $(var.Configuration) = Debug ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Debug" Guid="{5000CFC9-1F88-466A-84BF-808658CB9650}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Debug" Guid="{CB5AB24C-7E59-45C2-961F-9ABABBA2D689}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Debug" Guid="{CEAEAE92-73AA-4AD5-817B-DAE1E2F66B82}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Debug" Guid="{9AC78E1F-FADD-4A18-BBCD-327A3DBDA1DF}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<?elseif $(var.Configuration) = Release ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Release="bin\Release-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Release" Guid="{6764098C-C7C5-48DE-A805-82E2F709FD1B}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Release" Guid="{F667414E-12DE-4BC1-9F71-F23339EB133D}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Release="bin\Release-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Release" Guid="{DBA58AB6-9C55-4312-9AFC-EEFFC54C5424}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.FanSelection.dll" />
			</Component>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Release" Guid="{3A443B3F-5DFA-4EF9-83B4-385E1CBB9888}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.FanSelection.UI.dll" />
			</Component>
		</DirectoryRef>
		<?endif?>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponentsFanSelectionWin64">
			<?if $(var.Configuration) = Debug ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Debug" />
			<?elseif $(var.Configuration) = Release ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_FanSelection_UI_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_FanSelection_UI_Release" />
			<?endif?>
		</ComponentGroup>
	</Fragment>
</Wix>
