<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
      <?define OutputPath_R19_Debug="bin\Debug-NET40" ?>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_expat_Debug" Guid="{FBA4E75E-369C-454A-827C-D918544B1496}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_expat_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\expat.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_freexl_Debug" Guid="{83CC781E-5722-4B14-A7D1-679443709423}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_freexl_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\freexl.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_gdal202_Debug" Guid="{1A37327D-390F-483B-8020-667D56D5C48F}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_gdal202_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\gdal202.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_Debug" Guid="{68E6FED6-ACE9-4D7B-BB9F-6070FE25DBB6}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_geos_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\geos.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_c_Debug" Guid="{39DF7439-F5B4-4D0F-8560-8FB06422FACA}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_geos_c_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\geos_c.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_iconv_Debug" Guid="{6C0208BD-0135-4BF7-8B84-3C0626FBB071}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_iconv_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\iconv.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libcurl_Debug" Guid="{EA13A713-6D96-4000-BDF9-AA8A06BEFAC8}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libcurl_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libcurl.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libeay32_Debug" Guid="{49607C0B-F8C2-4CF7-A211-3395F8AA8ED8}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libeay32_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libeay32.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libmysql_Debug" Guid="{DEDE0746-E4C4-43D2-9F54-F4B3EAB1B623}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libmysql_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libmysql.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libpq_Debug" Guid="{39A500A1-3015-4FD2-9FE8-BB70C26E6A65}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libpq_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libpq.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libxml2_Debug" Guid="{AE9368B4-6215-4621-8674-0DA8C2218522}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libxml2_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libxml2.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_openjp2_Debug" Guid="{3B4703E7-E0A5-4B8A-A691-4BC7A36B8219}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_openjp2_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\openjp2.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_proj_Debug" Guid="{E6F40D5C-A01F-4CE0-871B-8770B3A89A42}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_proj_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\proj.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_spatialite_Debug" Guid="{0A89FD00-C7C4-4F76-9196-3838B8C75351}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_spatialite_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\spatialite.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_sqlite3_Debug" Guid="{64584E75-4C4B-4196-9C80-D6E3C4C9D077}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_sqlite3_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\sqlite3.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_ssleay32_Debug" Guid="{90ABEE92-936D-45D7-8B8A-5AF435E07BBB}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_ssleay32_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\ssleay32.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_xerces_c_3_1_Debug" Guid="{E59A204F-F007-4102-BE12-7300C124A0D3}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_xerces_c_3_1_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\xerces-c_3_1.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_zlib1_Debug" Guid="{204A70E3-13B3-480E-8055-816CCFF61642}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_zlib1_Debug" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\zlib1.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
      <?define OutputPath_R19_Release="bin\Release-NET40" ?>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Release="bin\Release-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_expat_Release" Guid="{F1A4FC1A-20AA-4BCC-A9EE-3587A910FE27}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_expat_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\expat.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_freexl_Release" Guid="{2072A3A2-B5D6-41C2-87B1-073C54B30398}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_freexl_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\freexl.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_gdal202_Release" Guid="{E44BE7AB-0D38-449F-8F89-FE6B3A5027A2}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_gdal202_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\gdal202.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_Release" Guid="{8732D246-9095-4E28-9F44-C3BB92C7AF3B}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_geos_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\geos.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_c_Release" Guid="{CF1134B0-E9E7-4098-BA0A-2C8DC60BBEDD}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_geos_c_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\geos_c.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_iconv_Release" Guid="{286721AD-BFD8-4C13-B350-3DCC04E3DB65}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_iconv_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\iconv.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libcurl_Release" Guid="{42C13181-9FD2-4A54-9A8A-3F43F6FA7606}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libcurl_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libcurl.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libeay32_Release" Guid="{8F3EE302-443D-41E3-8CAD-8EAC28B76319}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libeay32_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libeay32.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libmysql_Release" Guid="{3C699BC0-66B3-4428-A308-06DDE97DE4FF}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libmysql_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libmysql.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libpq_Release" Guid="{523FC89F-CA42-42C0-881A-A2A6DC3F063C}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libpq_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libpq.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libxml2_Release" Guid="{9B222F42-5050-4170-9D97-8E6E4E97313E}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_libxml2_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\libxml2.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_openjp2_Release" Guid="{1F1698E4-8727-4CBB-972F-F6F7B58E4A11}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_openjp2_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\openjp2.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_proj_Release" Guid="{B7671E55-9EB5-4924-8AB3-F33A8B90AD8A}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_proj_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\proj.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_spatialite_Release" Guid="{41214641-3754-42FE-A5E3-4F9CFDC22C26}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_spatialite_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\spatialite.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_sqlite3_Release" Guid="{47BD13FD-D9F8-433A-BF72-59CEF1B3D45A}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_sqlite3_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\sqlite3.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_ssleay32_Release" Guid="{31BF09B2-B286-4D9A-BF83-3E779ADEE12B}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_ssleay32_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\ssleay32.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_xerces_c_3_1_Release" Guid="{32DBD2D7-83CE-40C4-B77D-D6C858F6DDB6}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_xerces_c_3_1_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\xerces-c_3_1.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_zlib1_Release" Guid="{F998558C-43D5-4146-8884-A91FF3A96A1D}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_GDAL_zlib1_Release" KeyPath="yes" Source="$(var.GDALPath)\2.2.3\v120\zlib1.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Release="bin\Release-NET46" ?>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsAppGDAL">
      <?if $(var.Configuration) = Debug ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_expat_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_freexl_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_gdal202_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_c_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_iconv_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libcurl_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libeay32_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libmysql_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libpq_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libxml2_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_openjp2_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_proj_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_spatialite_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_sqlite3_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_ssleay32_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_xerces_c_3_1_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_zlib1_Debug" />
      <?elseif $(var.Configuration) = Release ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_expat_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_freexl_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_gdal202_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_geos_c_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_iconv_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libcurl_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libeay32_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libmysql_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libpq_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_libxml2_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_openjp2_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_proj_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_spatialite_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_sqlite3_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_ssleay32_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_xerces_c_3_1_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_GDAL_zlib1_Release" />
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>