<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_Debug" Guid="{630831DF-C2C0-469F-B0B0-FF60A5A4EDD9}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPHVAC_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPHVAC.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_UI_Debug" Guid="{4EF2F8D1-C5FC-4702-9C2F-E4686BCB0248}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPHVAC_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Hvac.UI.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_Debug" Guid="{C5FF78D8-C9FF-44DB-93C2-8EA2267308E9}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPHVAC_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPHVAC.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_UI_Debug" Guid="{A4CF1D1A-E503-4AAB-A012-2F0FE159F350}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPHVAC_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Hvac.UI.dll" />
      </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Release="bin\Release-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_Release" Guid="{AE02BDBC-5A79-4607-884D-8736A353A648}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPHVAC_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPHVAC.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_UI_Release" Guid="{7E87B2E9-B5CB-4745-ACEA-927DE4DE83AB}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPHVAC_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Hvac.UI.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Release="bin\Release-NET46" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_Release" Guid="{748EC55A-B152-4717-92E3-BE2784310494}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPHVAC_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPHVAC.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_UI_Release" Guid="{DA81E51C-D3D2-4E03-899D-9766664442D0}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPHVAC_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Hvac.UI.dll" />
      </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsHVACWin64">
      <?if $(var.Configuration) = Debug ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_UI_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_UI_Debug" />
      <?elseif $(var.Configuration) = Release ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPHVAC_UI_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPHVAC_UI_Release" />
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>
