<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_Publics_BaseCode_Debug" Guid="{08623593-86CB-49DC-BCBB-85E82513B616}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_Publics_BaseCode_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Publics.BaseCode.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CppLibrary_Debug" Guid="{E8904C91-1819-4D3A-8B5C-5E2F59A57FB0}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_CppLibrary_Debug" KeyPath="yes" Source="$(var.GTEPath)\v120\CppLibrary.v16.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ManagedLibrary_Debug" Guid="{6160BEE2-BFCC-4AF6-89B8-DDD984307671}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_ManagedLibrary_Debug" KeyPath="yes" Source="$(var.GTEPath)\v120\ManagedLibrary.v16.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
            <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_Publics_BaseCode_Debug" Guid="{0DF4AD2D-8AE1-4085-9039-505E914DCCE9}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_Publics_BaseCode_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Publics.BaseCode.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CppLibrary_Debug" Guid="{E9DB2BA8-71F5-4E10-B058-638D448A2A63}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_CppLibrary_Debug" KeyPath="yes" Source="$(var.GTEPath)\v140\CppLibrary.v16.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ManagedLibrary_Debug" Guid="{69D98B70-DB3E-4595-AD67-EC60F6D0F539}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_ManagedLibrary_Debug" KeyPath="yes" Source="$(var.GTEPath)\v140\ManagedLibrary.v16.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_Publics_BaseCode_Release" Guid="{09718367-D0D7-4343-950D-D6C95B2AC2EF}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_Publics_BaseCode_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Publics.BaseCode.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_CppLibrary_Release" Guid="{25F8AD91-100B-4CE9-A826-64CBFA1BFAC0}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_CppLibrary_Release" KeyPath="yes" Source="$(var.GTEPath)\v120\CppLibrary.v16.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_ManagedLibrary_Release" Guid="{C6DC3928-534D-4D14-B7C4-652A08D0A8EE}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_ManagedLibrary_Release" KeyPath="yes" Source="$(var.GTEPath)\v120\ManagedLibrary.v16.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
            <?define OutputPath_R22_Release="bin\Release-NET46" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_Publics_BaseCode_Release" Guid="{86665659-595C-42D3-83B0-85460E273E5B}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_Publics_BaseCode_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Publics.BaseCode.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_CppLibrary_Release" Guid="{F629D533-E9F4-46FB-99D6-267AB7AA4C6A}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_CppLibrary_Release" KeyPath="yes" Source="$(var.GTEPath)\v140\CppLibrary.v16.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_ManagedLibrary_Release" Guid="{BD7FE7E2-9ED2-4D15-8135-DCB9E0BCE955}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_ManagedLibrary_Release" KeyPath="yes" Source="$(var.GTEPath)\v140\ManagedLibrary.v16.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsAppInternal">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Publics_BaseCode_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Publics_BaseCode_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CppLibrary_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CppLibrary_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ManagedLibrary_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ManagedLibrary_Debug" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Publics_BaseCode_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Publics_BaseCode_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_CppLibrary_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_CppLibrary_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_ManagedLibrary_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_ManagedLibrary_Release" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>