<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variable.wxi ?>
	<Fragment>
		<?if $(var.Configuration) = Debug ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPLighting_UI_Debug" Guid="{0099F5A5-4719-4082-8866-2D61A4AD6934}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPLighting_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPLighting.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPLighting_UI_Debug" Guid="{7F845AEE-B40E-4CDF-BEAB-FED337899AF0}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPLighting_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPLighting.UI.dll" />
			</Component>
		</DirectoryRef>
		<?elseif $(var.Configuration) = Release ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Release="bin\Release-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPLighting_UI_Release" Guid="{BCAC080E-6A5F-45C4-936D-0F1986BCD347}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPLighting_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPLighting.UI.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Release="bin\Release-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPLighting_UI_Release" Guid="{35F94FBD-18C1-424B-9FDF-34F4A29454A3}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPLighting_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPLighting.UI.dll" />
			</Component>
		</DirectoryRef>
		<?endif?>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponentsLightingWin64">
			<?if $(var.Configuration) = Debug ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPLighting_UI_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPLighting_UI_Debug" />
			<?elseif $(var.Configuration) = Release ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPLighting_UI_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPLighting_UI_Release" />
			<?endif?>
		</ComponentGroup>
	</Fragment>
</Wix>