<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Include wxi files -->
    <?include Variable.wxi ?>
    <!-- Codepage 936 for Simplified Chinese characters -->
    <Product Id="$(var.ProductCode)" Name="$(var.Name)" Codepage="936" Language="2052" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="$(var.Description)" Manufacturer="$(var.Manufacturer)" Platform="x64" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <!--Application logo-->
        <Icon Id="Logo.ico" SourceFile="$(var.Logo)" />
        <!--Application logo for Control Panel-->
        <Property Id="ARPPRODUCTICON" Value="Logo.ico" />
        <Feature Id="ProductFeature" Title="ThMEPInstaller" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="ProductComponentsSupport" />
            <ComponentGroupRef Id="ProductComponentsResources" />
            <ComponentGroupRef Id="ProductComponentsAcsConnector" />
            <ComponentGroupRef Id="ProductComponentsAppCoreWin64" />
            <ComponentGroupRef Id="ProductComponentsAppExternal" />
            <ComponentGroupRef Id="ProductComponentsAppInternal" />
            <ComponentGroupRef Id="ProductComponentsAppToolkitMvvm" />
            <ComponentGroupRef Id="ProductComponentsAppSystem" />
            <ComponentGroupRef Id="ProductComponentsAppCGAL" />
            <ComponentGroupRef Id="ProductComponentsWSSWin64" />
            <ComponentGroupRef Id="ProductComponentsHVACWin64" />
            <ComponentGroupRef Id="ProductComponentsDevExpress" />
            <ComponentGroupRef Id="ProductComponentsWPF" />
            <ComponentGroupRef Id="ProductComponentsAppXBim" />
            <ComponentGroupRef Id="ProductComponentsAppMicrosoft" />
            <ComponentGroupRef Id="ProductComponentsLightingWin64" />
            <ComponentGroupRef Id="ProductComponentsElectricalWin64" />
            <ComponentGroupRef Id="ProductComponentsFanSelectionWin64" />
            <ComponentGroupRef Id="ProductComponentsStructureWin64" />
            <ComponentGroupRef Id="ProductComponentsArchitectureWin64" />
            <ComponentGroupRef Id="ProductComponentsAppSuperBoundary" />
        </Feature>
        <UIRef Id="WixUI_Minimal"/>
        <WixVariable Id="WixUILicenseRtf" Value="$(var.Eula)" />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="Autodesk" Name="Autodesk">
                    <Directory Id="ApplicationPlugins" Name="ApplicationPlugins">
                        <Directory Id="INSTALLFOLDER" Name="ThMEPPlugin.bundle">
                            <Directory Id="DIR_Autoloader_Contents" Name="Contents">
                                <Directory Id="DIR_Autoloader_Contents_App_Win64" Name="Win64">
                                    <Directory Id="DIR_Autoloader_Contents_App_Win64_R20" Name="2016">
                                        <Directory Id="DIR_Autoloader_Contents_App_Win64_R20_X64" Name="x64"/>
                                    </Directory>
                                    <Directory Id="DIR_Autoloader_Contents_App_Win64_R22" Name="2018">
                                        <Directory Id="DIR_Autoloader_Contents_App_Win64_R22_X64" Name="x64"/>
                                    </Directory>
                                    <Directory Id="DIR_Autoloader_Contents_App_Win64_Common" Name="Common"/>
                                </Directory>
                                <Directory Id="DIR_Autoloader_Contents_Resources" Name="Resources" />
                                <Directory Id="DIR_Autoloader_Contents_Support" Name="Support">
                                    <Directory Id="DIR_Autoloader_Contents_Support_DesignData" Name="DesignData" />
                                    <Directory Id="DIR_Autoloader_Contents_Support_BeamStructure" Name="BeamStructure" />
                                    <Directory Id="DIR_Autoloader_Contents_Support_SecurityPlaneConfig" Name="SecurityPlaneConfig" />
                                    <Directory Id="DIR_Autoloader_Contents_Support_LoadCalculationConfig" Name="LoadCalculationConfig" />
                                    <Directory Id="DIR_Autoloader_Contents_Support_PowerDistributionSystem" Name="PowerDistributionSystem" />
                                    <Directory Id="DIR_Autoloader_Contents_Support_ElectricalLoadCalculation" Name="ElectricalLoadCalculation" />
                                </Directory>
                                <Directory Id="DIR_Autoloader_Contents_Standards" Name="Standards">
                                </Directory>
                                <Directory Id="DIR_Autoloader_Contents_Plotters" Name="Plotters">
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="CMP_Autoloader_PackageContents" Guid="7AD46714-B159-407E-A7CC-9F0608701245" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents" Source="$(var.AutoloaderPath)\PackageContents.xml" KeyPath="yes" />
            </Component>
            <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
            <!-- <Component Id="ProductComponent"> -->
            <!-- TODO: Insert files, registry keys, and other resources here. -->
            <!-- </Component> -->
        </ComponentGroup>
    </Fragment>
</Wix>