<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_CMD_Debug" Guid="{326A52B7-5D5E-48B1-A39C-7127C524A558}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPStructure_CMD_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPStructure.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_UI_Debug" Guid="{45F59731-A308-474D-8FDA-1BFB5743900D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPStructure_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Structure.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
            <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_CMD_Debug" Guid="{50917694-92D4-4E72-A0C9-4DDD66BF24A7}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPStructure_CMD_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPStructure.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_UI_Debug" Guid="{57188A4A-B346-46D2-8ADD-812D924C22E4}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPStructure_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Structure.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_CMD_Release" Guid="{E315CD0B-DFDE-4DF0-B68B-D1E776CCFE75}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPStructure_CMD_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPStructure.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_UI_Release" Guid="{B5844DDB-7453-4E83-8AD9-610C2D0272C4}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPStructure_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Structure.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
            <?define OutputPath_R22_Release="bin\Release-NET46" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_CMD_Release" Guid="{CF3CA6C3-20AD-4A37-BDDC-946F8E467FF2}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPStructure_CMD_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPStructure.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_UI_Release" Guid="{5FA8C5F7-6635-459B-A7A2-DFD9C90372FD}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPStructure_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Structure.WPF.UI.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsStructureWin64">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_CMD_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_CMD_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_UI_Debug" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_UI_Debug" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_CMD_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_CMD_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPStructure_UI_Release" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPStructure_UI_Release" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>