<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variable.wxi ?>
	<Fragment>
		<DirectoryRef Id="DIR_Autoloader_Contents_Support">
			<Component Id="CMP_Autoloader_PackageContents_Support_Block_Broadcast" Guid="{709830D4-071F-4060-A5D8-0FDF02030EB5}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Block_Broadcast" Source="$(var.AutoloaderContentsPath)\Support\消防应急广播.dwg" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Block_Sensor" Guid="{D8BBCB17-68E6-4898-A97E-D7D4DC8DC032}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Block_Sensor" Source="$(var.AutoloaderContentsPath)\Support\烟感温感图块.dwg" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Block_Spray" Guid="{3672DEE5-E3ED-4E05-BCF6-7ED249249922}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Block_Spray" Source="$(var.AutoloaderContentsPath)\Support\给排水.喷淋.dwg" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Block_Fan" Guid="{D510B440-E5DC-430E-816A-0D28F3AA7550}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Block_Fan" Source="$(var.AutoloaderContentsPath)\Support\暖通.选型.风机.dwg" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Block_Pipe" Guid="{C4927586-6F2F-443A-954E-5E7BF1947D78}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Block_Pipe" Source="$(var.AutoloaderContentsPath)\Support\暖通.设备.管道.dwg" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Block_Conversion" Guid="{52925679-6A6D-477F-83DC-7C99E78FC0E1}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Block_Conversion" Source="$(var.AutoloaderContentsPath)\Support\天华提电气块转换配置表.dwg" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan" Guid="{A21AD44A-402A-4739-94C6-9EA6524A9013}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_HTFC_Fan" Source="$(var.AutoloaderContentsPath)\Support\离心风机选型.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan" Guid="{5EED9740-ACFC-436D-9D28-0A0C3F299361}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan" Source="$(var.AutoloaderContentsPath)\Support\轴流风机选型.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Efficiency" Guid="{7776A5E4-3418-4D7F-B73F-63A172A02641}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Efficiency" Source="$(var.AutoloaderContentsPath)\Support\离心风机效率.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Efficiency" Guid="{2FBF488C-1266-4637-A98E-45C59F507205}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Efficiency" Source="$(var.AutoloaderContentsPath)\Support\轴流风机效率.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_Motor_Power" Guid="{B87DC7C6-2B71-4BB8-8F0C-B13D82D7C557}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_Motor_Power" Source="$(var.AutoloaderContentsPath)\Support\电机功率.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter" Guid="{4955B07D-0D16-454C-99EA-996F704DB3A3}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter" Source="$(var.AutoloaderContentsPath)\Support\离心-前倾-单速.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter_Single_Speed" Guid="{4F368CF5-01C2-4660-9D47-0B8719B3D699}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter_Single_Speed" Source="$(var.AutoloaderContentsPath)\Support\离心-后倾-单速.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter_Double_Speed" Guid="{75EDECE9-2E7F-436F-B61B-38CA8ABAEBFC}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter_Double_Speed" Source="$(var.AutoloaderContentsPath)\Support\离心-前倾-双速.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Parameter" Guid="{6D973CE6-05A1-4C4D-B439-7E71AE88D0EF}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Parameter" Source="$(var.AutoloaderContentsPath)\Support\轴流-单速.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Parameter_Double_Speed" Guid="{1A15FE4B-0F16-40AF-AB25-62CF67A2B613}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Parameter_Double_Speed" Source="$(var.AutoloaderContentsPath)\Support\轴流-双速.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_Motor_Power_Double_Speed" Guid="{FFAB3BF2-0266-4603-B88B-D64E06ADBB3D}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_Motor_Power_Double_Speed" Source="$(var.AutoloaderContentsPath)\Support\电机功率-双速.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_HRR" Guid="{CAEFA342-E8E6-47A1-9BFB-7C0EB04AB09E}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_HRR" Source="$(var.AutoloaderContentsPath)\Support\火灾达到静态时的热释放速率.json" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_Equipment_Minimum_Smoke_Emission" Guid="{476B199B-7697-4C5B-A3E8-1588E45605FE}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_Equipment_Minimum_Smoke_Emission" Source="$(var.AutoloaderContentsPath)\Support\最小排烟量.json" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_Support_DesignData">
			<Component Id="CMP_Autoloader_PackageContents_Support_DesignData_FanCalc" Guid="{35F09808-BBF0-487A-981C-7235355DC1BD}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_DesignData_FanCalc" Source="$(var.AutoloaderContentsPath)\Support\DesignData\FanCalc.xlsx" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_DesignData_FanPara" Guid="{BB17ACBD-1EE9-4B04-AE72-71FBDC777F92}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_DesignData_FanPara" Source="$(var.AutoloaderContentsPath)\Support\DesignData\FanPara.xlsx" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_DesignData_Smoke_Proof_Scenario" Guid="{97EF5451-4DA6-4EED-AAE5-1F54156099EF}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_DesignData_Smoke_Proof_Scenario" Source="$(var.AutoloaderContentsPath)\Support\DesignData\SmokeProofScenario.xlsx" KeyPath="yes" />
			</Component>
			<Component Id="CMP_Autoloader_PackageContents_Support_DesignData_Smoke_Discharge_Scenario" Guid="{AACF05D0-CEEB-4281-9071-726FB021E01E}" Win64="yes">
				<File Id="FILE_Autoloader_PackageContents_Support_DesignData_Smoke_Discharge_Scenario" Source="$(var.AutoloaderContentsPath)\Support\DesignData\SmokeDischargeScenario.xlsx" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponentsSupport">
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Block_Fan" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Block_Pipe" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Block_Spray" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Block_Sensor" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Block_Broadcast" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Block_Conversion" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_DesignData_FanCalc" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_DesignData_FanPara" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_DesignData_Smoke_Proof_Scenario" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_DesignData_Smoke_Discharge_Scenario" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Parameter" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Efficiency" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Efficiency" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_Motor_Power" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter_Single_Speed" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_HTFC_Fan_Parameter_Double_Speed" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_AXIAL_Fan_Parameter_Double_Speed" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_Motor_Power_Double_Speed" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_HRR" />
			<ComponentRef Id="CMP_Autoloader_PackageContents_Support_Equipment_Minimum_Smoke_Emission" />
		</ComponentGroup>
	</Fragment>
</Wix>
