<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Variable.wxi ?>
	<Fragment>
		<?if $(var.Configuration) = Debug ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_Control_Library_Debug" Guid="{CB6564B5-7580-4D9A-A1F7-CEE1AE6A3B85}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_Control_Library_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThControlLibraryWPF.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_Control_Library_Debug" Guid="{6993F056-46AE-4F18-B991-A869CC9CF006}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_Control_Library_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThControlLibraryWPF.dll" />
			</Component>
		</DirectoryRef>
		<?elseif $(var.Configuration) = Release ?>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
			<?define OutputPath_R20_Release="bin\Release-NET45" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R20_Control_Library_Release" Guid="{D4868A8D-4782-4A8E-97CD-081EF741F9ED}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R20_Control_Library_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThControlLibraryWPF.dll" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
			<?define OutputPath_R22_Release="bin\Release-NET46" ?>
			<Component Id="CMP_Autoloader_Contents_App_Win64_R22_Control_Library_Release" Guid="{5C6D2E46-0742-4E4E-9699-FA7277AFD8A4}" Win64="yes">
				<File Id="FILE_Autoloader_Contents_App_Win64_R22_Control_Library_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThControlLibraryWPF.dll" />
			</Component>
		</DirectoryRef>
		<?endif?>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponentsWPF">
			<?if $(var.Configuration) = Debug ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Control_Library_Debug" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Control_Library_Debug" />
			<?elseif $(var.Configuration) = Release ?>
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Control_Library_Release" />
			<ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Control_Library_Release" />
			<?endif?>
		</ComponentGroup>
	</Fragment>
</Wix>
