<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPWSS_Debug" Guid="{87E569FB-FEB3-474A-AF80-A4852AA31D53}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPWSS_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\ThMEPWSS.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_UI_Debug" Guid="{5339550C-00AD-4257-8A20-39D0B83067E1}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_Plumbing_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Plumbing.UI.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_WPF_UI_Debug" Guid="{8D1966F1-B4B3-4E3F-875D-464E55E4C34F}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_Plumbing_WPF_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\TianHua.Plumbing.WPF.UI.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPWSS_Debug" Guid="{BECFF482-69FB-40BD-90E3-BAD9C9009E78}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPWSS_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\ThMEPWSS.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_UI_Debug" Guid="{2D6C6E7B-484A-41EA-BFCE-8F6C8872CA82}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_Plumbing_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Plumbing.UI.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_WPF_UI_Debug" Guid="{923160C2-10A1-4F87-8AC8-514ECB3FB976}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_Plumbing_WPF_UI_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Debug)\TianHua.Plumbing.WPF.UI.dll" />
      </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Release="bin\Release-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_MEPWSS_Release" Guid="{0DFD3BDA-2C55-4B30-BA61-5FF9790060D1}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_MEPWSS_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\ThMEPWSS.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_UI_Release" Guid="{57878E3C-6B63-4EE2-9C1B-C08BD3127718}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_Plumbing_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Plumbing.UI.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_WPF_UI_Release" Guid="{321052AC-F0E4-4DA5-BA1F-52ADE1DEE3F0}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_Plumbing_WPF_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\TianHua.Plumbing.WPF.UI.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Release="bin\Release-NET46" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_MEPWSS_Release" Guid="{A1C92D1B-307E-4161-AD54-A686AD606297}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_MEPWSS_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\ThMEPWSS.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_UI_Release" Guid="{BF664731-DC54-4992-9B24-9B4FF1D6BF38}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_Plumbing_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Plumbing.UI.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_WPF_UI_Release" Guid="{DB3DB951-6FB2-4DDF-BF11-58B997E284A6}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_Plumbing_WPF_UI_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R22_Release)\TianHua.Plumbing.WPF.UI.dll" />
      </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsWSSWin64">
      <?if $(var.Configuration) = Debug ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPWSS_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_UI_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_WPF_UI_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPWSS_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_UI_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_WPF_UI_Debug" />
      <?elseif $(var.Configuration) = Release ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_MEPWSS_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_UI_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_Plumbing_WPF_UI_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_MEPWSS_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_UI_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_Plumbing_WPF_UI_Release" />
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>