<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <?if $(var.Configuration) = Debug ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc" Guid="{DE15506B-0446-46B5-B840-BC28E82B97C5}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Ifc" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.Ifc.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc2x3" Guid="{02829E69-A41B-4300-A00F-29AAFABCFA7D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Ifc2x3" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.Ifc2x3.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc4" Guid="{02131128-6082-46D7-BACE-F6D28B2CF569}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Ifc4" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.Ifc4.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_Esent" Guid="{B0D074C3-99A9-4203-890D-7689CC24A37C}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_IO_Esent" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.IO.Esent.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_MemoryModel" Guid="{FC8AE13E-BBEA-4D10-A624-21958786B66D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_IO_MemoryModel" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.IO.MemoryModel.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine_Interop" Guid="{573B3D96-D5B6-46CA-8E97-3D31458B4C21}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine_Interop" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.Geometry.Engine.Interop.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Common" Guid="{22BB1992-A572-40EE-A0B2-7FBE5192A15A}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Common" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.Common.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_ModelGeometry_Scene" Guid="{116E159D-4EEB-443E-9B1D-A6B2914211F0}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_ModelGeometry_Scene" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.ModelGeometry.Scene.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Tessellator" Guid="{17ABD10F-4BF0-46B5-B75C-08C4ABF5903D}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Tessellator" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\Xbim.Tessellator.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine32" Guid="{1AC8257E-183B-4C07-864A-13AF8649954A}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine32" KeyPath="yes" Source="$(var.XbimGeoEngine)\Xbim.Geometry.Engine32.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine64" Guid="{C274ACEF-074C-4D75-A17E-81D2275D3F15}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine64" KeyPath="yes" Source="$(var.XbimGeoEngine)\Xbim.Geometry.Engine64.dll" />
            </Component>
        </DirectoryRef>
        <?elseif $(var.Configuration) = Release ?>
        <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_Common">
            <?define OutputPath_R20_Release="bin\Release-NET45" ?>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc" Guid="{E14A8FEF-2CEC-4700-A037-B8066C4CCE04}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Ifc" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.Ifc.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc2x3" Guid="{47573DA8-D8A0-404E-BF6B-116A4A3627F0}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Ifc2x3" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.Ifc2x3.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc4" Guid="{25BD567C-96AB-47A5-87E5-5BEFC6FBD7BE}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Ifc4" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.Ifc4.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_Esent" Guid="{58C43A40-D1BE-49F0-BB9A-D8AB8E67F750}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_IO_Esent" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.IO.Esent.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_MemoryModel" Guid="{DBDAB3BA-27FD-4E41-9340-CCE29F121697}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_IO_MemoryModel" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.IO.MemoryModel.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine_Interop" Guid="{5A3CE8AF-43F5-4020-8F54-A3EDC814A310}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine_Interop" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.Geometry.Engine.Interop.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Common" Guid="{75A8DA8C-F464-43E5-A69F-6B91B6212269}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Common" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.Common.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_ModelGeometry_Scene" Guid="{97FCC9D1-3A36-452A-8FE7-39D1EE9F7E02}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_ModelGeometry_Scene" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.ModelGeometry.Scene.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Tessellator" Guid="{5BC4DCAB-A5DC-48DD-B056-C4B5B9F92E83}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Tessellator" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\Xbim.Tessellator.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine32" Guid="{6099F071-0BBE-4B2E-96A4-60DB51E437F6}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine32" KeyPath="yes" Source="$(var.XbimGeoEngine)\Xbim.Geometry.Engine32.dll" />
            </Component>
            <Component Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine64" Guid="{6C596123-EEC1-4DDB-93F4-3FB93010CCCC}" Win64="yes">
                <File Id="FILE_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine64" KeyPath="yes" Source="$(var.XbimGeoEngine)\Xbim.Geometry.Engine64.dll" />
            </Component>
        </DirectoryRef>
        <?endif?>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsAppXBim">
            <?if $(var.Configuration) = Debug ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc2x3" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc4" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_Esent" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_MemoryModel" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine_Interop" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Common" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_ModelGeometry_Scene" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Tessellator" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine32" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine64" />
            <?elseif $(var.Configuration) = Release ?>
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc2x3" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Ifc4" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_Esent" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_IO_MemoryModel" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine_Interop" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Common" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_ModelGeometry_Scene" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Tessellator" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine32" />
            <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_Common_Xbim_Geometry_Engine64" />
            <?endif?>
        </ComponentGroup>
    </Fragment>
</Wix>
